@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #A55D35;
}

.primary_nav {
    padding-top: 20px;
}

.max_width {
    margin: auto;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_list {
    padding-right: 100px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu_btn {
    margin-left: 150px;
    font-size: 25px;
    font-weight: 100;
    color: white;
}

.menu_btn:hover {
    color: #FFDB58;
    text-decoration: none;
}

.logo {
    padding-bottom: 40px;
    margin-left: 50px;
}

img {
    max-width: 30%;
    height: auto;
}



main {
    text-align: center;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    height: 115vh;
}

.welcome{
    font-size: 50px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    color: white;
}

form {
    display: inline-block;
    background-color: #FFDB58 ;
    padding: 3em;
    height: 900px;
    border-radius: 20px;
    border-left: 1px solid;
    border-top: 1px solid;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    transition: all 0.2s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

button,
fieldset,
input,
select,
textarea {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
select,
textarea {
    border: 2px solid #333;
    background-color: white;
    border-radius: 0.25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
}

input[type="text"],
input[type="email"],
select,
textarea {
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

textarea {
    min-height: 10rem;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    /* Firefox */
    color: hsl(213, 73%, 50%);
}

select {
    background: url("images/down-arrow.svg") no-repeat center right 0.75rem;
}

input[type="radio"],
input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

input[type="radio"]:checked {
    background-image: radial-gradient(hsl(213, 73%, 50%) 40%, transparent calc(40% + 1px));
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked {
    background: url('images/check.svg') no-repeat center / 75% auto;
}

.large-label {
    display: inline-block;
    font: bold 1.5rem sans-serif;
    margin-bottom: 0.5rem;
}

.small-label {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
    font: 1.25rem sans-serif;
}

button {
    font: 1.25rem sans-serif;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px black;
  }

button[type="submit"] {
    background-color: hsl(213, 73%, 50%);
    color: white;
}

button[type="submit"]:hover {
    background-color: hsl(213, 73%, 40%);
  }

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 20vh;
}


.footer-basic {
    height: 30vh;
    padding: 80px 0;
    background-color: black;
    color: white;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
    margin-bottom: 0;
}